<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/Project.css">
</head>
<body>
	<div id="successPage">
		<img id="yeah" src="/css/SuccessPage.png" >
	</div>
</body>

</html>
